.header-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 75px;
}
.left-side-buttons {
  width: 40%;
}
.right-side-buttons {
  width: 40%;
}
.header-buttons {
  width: 50%;
  color: white;
  background-color: black;
  height: 100%;
}
h1 {
  color: rgb(182, 61, 178);
  text-align: center;
}
h3 {
  text-align: center;
  color: rgb(182, 61, 178);
}
